#leaderboardContainer {
  color: azure;
  // border: solid 1px rgb(240, 255, 255, 0.3);
  width: 80vw;
  height: 80vh;
  margin-left: 16rem;
  position: fixed;
  z-index: 0;
  top: 100px;
  padding: 2rem 2rem;
  background-color: rgba(17, 0, 40, 0.05);
  backdrop-filter: blur(60px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 1rem;
    font-weight: 500;
    height: max-content;
  }

  #tableContainer {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #header {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgba(240, 255, 255, 0.268);
    border-bottom: 1px rgba(240, 255, 255, 0.17) solid;
    h2 {
      display: grid;
      justify-content: center;
    }
  }

  table {
    width: 100%;
    th,
    td {
      border-bottom: 1px rgba(240, 255, 255, 0.17) solid;
      padding: 0.5rem;
      font-size: 1.2rem;
    }
    th:nth-child(2) {
      border-right: 1px rgba(240, 255, 255, 0.15) solid;
      border-left: 1px rgba(240, 255, 255, 0.15) solid;
    }
    td:nth-child(2) {
      border-right: 1px rgba(240, 255, 255, 0.15) solid;
      border-left: 1px rgba(240, 255, 255, 0.15) solid;
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f117;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f172;
  border-radius: 40px;
  transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c7d8e7;
}
