@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
html,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:active,
a:visited {
  text-align: center;
  text-decoration: none;
}

body {
  // background: rgb(23, 111, 159);
  // background: linear-gradient(
  //   90deg,
  //   rgba(23, 111, 159, 1) 0%,
  //   rgba(26, 93, 177, 1) 100%
  // );
  // background: rgb(205, 201, 93);
  // background: linear-gradient(
  //   140deg,
  //   rgb(185, 165, 245) 0%,
  //   rgb(210, 88, 241) 16%,
  //   rgba(219, 49, 173, 1) 41%,
  //   rgba(168, 25, 40, 1) 73%,
  //   rgb(114, 9, 9) 100%
  // );
  // background-color: #8ec5fc;
  // background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  

  background-color: #130f40;
  background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}
